<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a booking</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<form th:method="POST" th:action="@{/booking}" th:object="${booking}">
    <div>
        <label for="date_in">Дата заезда</label>
        <input type="datetime-local" placeholder="дата заезда" th:field="*{date_in}" id = "date_in">
    </div>

    <div>
        <label for="date_out">Дата выезда</label>
        <input type="datetime-local" placeholder="дата выезда" th:field="*{date_out}" id = "date_out">
    </div>
<!--    Остальное пишем тут-->
    <input type="submit" value="Submit">

</form>
<div>
    <a th:href="@{/booking}">Назад ко всем бронированиям</a>
</div>
</body>
</html>