<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="h1"> <h1>Jeki</h1></div>
        <ul class="menu">
            <li><a href="/register">Регистрация</a></li>
            <li><a href="/booking">Мои бронирования</a></li>
    </ul>
</div>


</div>
</body>
</html>